<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Slack Chat</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/invite.css') }}" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="invite">
      <div class="row">
    <div class="card">
      <h1>The Hummingbird Slack</h1>
      <h2>Probably the best chat on the Internet</h2>
      <form method="post">
        <div class="row">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <div class="input-field col s12">
            <input name="email" id="email" type="email" value="">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input name="hbuser" type="text" value="">
            <label for="hbuser">Hummingbird Username</label>
          </div>
          <button class="waves-effect waves-light btn-flat right" type="submit" name="action">SUBMIT</button>
        </div>
      </form>
    </div>
    <span class="col s12">Don't have a <a href="http://hummingbird.me">hummingbird.me</a> account? Get one <a href="http://hummingbird.me/sign-up">here!</a></span>
    <span class="col s12">Already member of the chat? <a href="#">Join</a> or download the <a href="#">app!</a></span>
    </div>
  </div>
  <footer>
    <div class="valign-wrapper">
    <ul>
      <li><img src="img/hb.png" alt=" " /></li>
      <li><a href="#">Rules</a> | </li>
      <li>Background Image by <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=40316086">LighTofHeaveN</a> (edited by <a href="http://konachan.com/post/show/174709/black_eyes-brown_hair-lightofheaven-long_hair-maki">MetalAnimer</a>)</li>
    </ul>
  </div>

  </footer>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</html>
